intersections/
predicted_images/
*.mp4
mask_1920_1080.png
inference_video.py
video/
obsolete/
*.vscode
.DS_Store
test_video.ipynb
output_patches/



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
